
.navBar {
  @apply bg-zinc-950 py-4 flex justify-end;
}

.navList {
  @apply list-none flex justify-end items-center m-0 p-0;
}

.navItem {
  @apply mr-12;
}

.navItem a {
  @apply text-white font-semibold hover:text-zinc-300;
}
  
.navList .logoItem {
  @apply flex justify-start;
}

.logoImage {
  @apply w-12 h-auto mr-12;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
}

.container {
  display: grid;
  grid-template-rows: auto auto; /* Adjust the rows as needed */
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.jump-arrow {
  animation: jump 1.5s infinite;
}

